* {
  color: initial;
}
* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  /* max-width: 91ch; */
  width: 100%;
  font-family: monospace;
  background: black;
  color: #ccc;
  font-size: 16px;
  padding-bottom: 100vh;
  overflow-x: hidden;
}

p,i,pre,code,font {
  color: #ccc;
}

h1,h2 {
  color: white;
  font-size: 1rem;
  margin-bottom: -1rem;
  padding-top: 1rem;
}
h2 {
  margin-left: 3ch;
}
h3,h4 {
  font-size: 1rem;
  font-weight: normal;
  margin-left: 7ch;
  text-decoration: underline;
  color: #ccc;
}

dt {
  margin-left: 7ch;
  color: #ccc;
}

b {
  color: white;
}

p {
  margin-left: 7ch;
  line-height: 1.2rem;
}

ul {
  margin-left: 7ch;
}

pre {
  margin-left: 11ch;
}

a {
  color: #fff;
}
a:visited {
  color: #a5a5a5;
}


.wrapper {
  display: flex;
  flex-direction: row;
  padding-right: 4rem;
}

.navigation {
  position: fixed;
  width: 377px;
  height: 100vh;
  background: #0a0a0a;
  overflow: auto;
  left: 0;
  transition: left .3s;
}
.navi-hide {
  left: -319px !important;
}
.navigation a {
  font-size: .9em;
}
.navigation ul {
  padding: 0;
  margin: 0;
  line-height: 1rem;
  list-style: none;
}
.navigation ul#index {
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: auto;
  overflow-x: hidden;
}
.navigation ul li {
  margin: 0;
  background: #1e1e1e;
}
.navigation ul li ul li {
  background: #131313;
}
.navigation ul li a {
  display: block;
  text-decoration: none;
  padding: .3rem 1rem;
  border-bottom: 1px solid #000;
  color: #fff;
}
.navigation ul li ul li a {
  padding: .3rem 3rem;
  border-bottom: 1px solid #000;
}
.navigation ul li ul li ul li a {
  padding: .3rem 5rem;
}
ul li a:hover, ul li a:active, u li a:focus {
  background: #000;
}
.nav-link-active {
  background: #000;
}

/*** #links-wrapper ***********************************************************/

#links-wrapper h2 {
  font-size: initial;
  margin: 0 0 0 1rem;;
  padding: 1rem 0;
  background: transparent;
}

#links-wrapper a:hover {
  background: initial;
}

/*** #links-wrapper END *******************************************************/

.navigation .open-close-wrapper {
  text-align: right;
  padding: 1rem;
}

.open-close-wrapper a {
  all: initial;
  font-size: .8rem;
  width: 21px;
  height: 21px;
  cursor: pointer;
  color: #fff;
  font-family: monospace;
  font-weight: bold;
  display: inline-flex;
  border: 1px solid #fff;
  padding: 0.1rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transition: all .3s;
}
.open-close-wrapper a:hover {
  background: #fff;
  color: #111;
}

.rotate-180 {
  transform: rotate(180deg) !important;
}

.content {
  position: relative;
  max-width: 1440px;
  margin-left: calc(377px + 2rem);
  padding-left: 2rem;
  transition: margin-left .3s;
}
.c-move-left {
  margin-left: 72px !important;
}




pre {
  background: #0f0f0f;
  padding: 1.2rem;
  border-radius: .1rem;
  max-width: 80ch;
}

@media (max-width: 430px) {
  .navigation {
    z-index: 9;
  }
  .content {
    margin-left: 0;
    padding: 0 .5rem;
  }
  .wrapper {
    padding-right: .5rem;
  }
  h1,h2,h3,h4,dt,p,ul,pre {
    margin-left: 0;
  }
  * {
    overflow: overlay;
  }
  
}
